[submodule "docker/etcd"]
	path = docker/etcd
	url = git@github.com:m9rco/etcd.git
[submodule "docker/alpine"]
	path = docker/alpine
	url = git@github.com:m9rco/alpine.git
[submodule "docker/php"]
	path = docker/php
	url = git@github.com:m9rco/php.git
[submodule "docker/mongodb"]
	path = docker/mongodb
	url = git@github.com:m9rco/mongodb.git
[submodule "docker/go"]
	path = docker/go
	url = git@github.com:m9rco/go.git
